.hide-scrollbar {
  max-height: 70vh;
  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Optional: just to make it look nice */
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}